{% extends args %}

{% block body %}

<div class="container">
    <h4>{{user}}</h4>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

    {% for element in data %}
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ element.title }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ element.price }}<small class="text-muted fw-light">/грн</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>1000{{ element.id }}</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Замовити</button>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
    </div>

    {% endblock %}